{% extends 'base.html' %} 


{% block page_title %}Recipes{% endblock %}

{% block page_heading %}All Recipes{% endblock %}
{% block content %}
   <div class="row">
    {% for recipe in recipes %}
        <div class="col s12 m6 l4">
          <div class="card small">
            <div class="card-image">
              <img src="{{ recipe.image_file }}" alt="">
            </div>
            <div class="card-content">
              <span class="card-title">{{ recipe.recipe_name }}</span>
              <p>{{ recipe.brief_description }}</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
