{% extends 'base.html' %}

{% block page_title %}Results{% endblock %}

{% block page_heading %}Love Food<br>
Search Results{% endblock %}

{% block content %}

<h3>Results for: {{ enquiry }}</h3>
<div class="row">
    {% for recipe in results %}
    <div class="result">
        <img src="{{ recipes.image_file }}"
        <div class="recipe_body">
            <h4>{{ recipes.recipe_name }}</h4>
            <p>{{ recipes.brief_description }}</p>
        </div>
        <a href="{{  url_for('view_recipe', recipe_id=recipe._id) }}" class="btn">View Recipe</a>
    </div>
    {% endfor %}
</div>

{% endblock %}